/* CSS-переменные */
:root {
  --main-text-color: #212121;
  --second-text-color: #757575;
  --accent-color: #2196f3;
  --main-bg-color: #ffffff;
  --secohd-bg-color: #f5f4fa;
  --third-bg-color: #2f303a;
}
/* Базовые настройки CSS */
body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* Уберу подчеркивание у всех ссылок */
.link {
  text-decoration: none;
}
/* Убрал флажки у элементов списков */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* страница Студия */
/* задам общие настройки шрифта хэдера */
.header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/* логотип хэдера */
.header-logo {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
/* текст основной навигации хэдера */
.nav-main .link {
  color: inherit;
}
/* Выделение активной страницы хэдера + Web в логотипе */
.nav-main .link.current,
.header-logo .current,
.footer-logo .current {
  color: var(--accent-color);
}
/* цвет текста основной навигации при акценте*/
.nav-main .link:hover,
.nav-main .link:focus {
  color: var(--accent-color);
}
/* цвет текста инфо части навигации */
.header-info .link {
  color: var(--second-text-color);
}
/* цвет текста инфо части навигации при акценте */
.header-info .link:hover,
.header-info .link:focus {
  color: var(--accent-color);
}
/* фон героя */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-bottom: 94px;

  background-color: var(--third-bg-color);
  text-align: center;
}
/* Заголовок героя */
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--main-bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* кнопка героя */
.button.primary {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;

  color: var(--main-bg-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}

/* Заголовки h3 секции преимущества */
.feature .title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
/* Текст секции преимущества */
.feature .text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--second-text-color);
}
/* Заголовки секций */
.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
/* оформление последней секции  */
.section:last-child {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--secohd-bg-color);
  text-align: center;
}
/* всем кроме последней секции задаем нижний марджин */
.section:not(:last-child) {
  margin-bottom: 94px;
}
.team-list .item {
  padding-bottom: 30px;
}
/* Заголовки h3 Наша команда */
.team-list .title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
/* Текст секции Наша команда */
.team-list .text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--second-text-color);
  font-size: 16px;
  line-height: 1.19;
}
/* фон футера */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--third-bg-color);
}
/* лого футера */
.footer-logo {
  color: var(--main-bg-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
/* адрес футера */
.footer-address {
  margin-top: 20px;
  font-style: normal;
}
/* Физический адрес в футере */
.footer-address .text {
  margin: 0;
  color: var(--main-bg-color);
}
/* почта и телефон футера */
.footer-address .link {
  display: inline-block;
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6);
}
/* акцент для почты и телефона в футере */
.footer-address .link:hover,
.footer-address .link:focus {
  color: var(--accent-color);
}

/* Страница Портфолио */

/* Кнопки*/
.button.secondary {
  display: inline-block;
  min-width: 73px;
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;

  color: var(--main-text-color);
  background-color: var(--secohd-bg-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}
/* Акцент кнопок */
.button.secondary:hover,
.button.secondary:focus {
  color: var(--main-bg-color);
  background-color: var(--accent-color);
}
.portfolio {
  margin-top: 94px;
  margin-bottom: 94px;
}
.portfolio-nav {
  margin-bottom: 34px;
  padding-bottom: 16px;
}

.portfolio-list .item {
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.portfolio-list .item:last-child {
  margin-bottom: 0;
}

/* Цвет заголовков */
.portfolio-list .title {
  margin-top: 20px;
  margin-bottom: 4px;
  color: var(--main-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
/*Цвет текста */
.portfolio-list .text {
  margin: 0;
  color: var(--second-text-color);
  font-size: 16px;
  line-height: 1.87;
}

/* Геометрия контейнера */
.container {
  width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
  outline: 2px solid orange;
}
/* Временно уберем марджины у скрытых заголовка */
.hidden {
  margin-top: 0;
  margin-bottom: 0;
}
